.main {
    display: block;
}

.intro {
    width: 60%;
    margin-top: 2rem;
}

.intro p {
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.linkCollect {
    margin-left: 1.1rem;
}

.intro p span i {
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all .5 ease;
}

.lickClicked {
    color: #fff!important;
}

.intro p span a ~ a {
    margin-left: .6rem;
    cursor: pointer;
    position: relative;
}

.intro p span i:hover {
    color: #999;
}

.intro div {
    color: rgb(51, 51, 51);
}

.company {
    margin-top: 3rem;
    border-top: 1.5px solid #d4e2f2;
    border-bottom: 1.5px solid #d4e2f2;
    width: 100%;
}

.company li {
    display: flex;
    flex-direction: row;
    padding: 1.4rem .6rem;
}

.company li div {
    display: inline-block;
    font-weight: 500;
    font-size: 1.3rem;
    flex-basis: 20%;
}

.company li div span {
    display: block;
    font-size: .9rem;
    color: rgb(124, 124, 124);
    margin-left: 0;
    margin-top: .3rem;
}

.company li span {
    flex-basis: 80%;
}

.support {
    display: none;
    position: absolute;
    width: 6.6rem;
    text-align: center;
    border-radius: 0.4rem;
    padding: 0.4rem;
    background: #6293d4;
    top: -3.5rem;
    left: 50%;
    transform: translate(-50%);
    font-style: normal;
    font-size: .8rem;
    color: #fff;
    z-index: 1;
}

.support:before {
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    background: #6293d4;
    border-radius: 50%;
    top: 3.4rem;
    left: 50%;
    transform: translate(-50%);
    content: '';
}

.block {
    display: block!important;
}

.comPeriod {
    background: #3560b8;
    display: inline-block!important;
    padding: .35rem .45rem;
    color: #fff!important;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    margin-top: .6rem!important;
    font-size: .8rem!important;
}

.comCont {
    font-size: .95rem;
}

.project {
    padding-top: .6rem;
}
.project p {
    font-size: 1.3rem;
    font-weight: 700;
}

.education {
    padding-top: .6rem;
}
.education p {
    font-size: 1.3rem;
    font-weight: 700;
}